<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
    <div class="Navbar">
        <div class="logoCarry">
           <div class="circle2"></div>
           <h2><span style="color: white;">C</span>onnectify</h2>
        </div>
        <ul>
  
            
            <li><a href="/data">Home</a></li>
            <li><a href="/post">Post</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
    <div class="dashboardContainer">
        <div class="dashboardIntro">
                <div class="dashboardName">
                    <h3><%=Name%></h3>
                    <p><%=specification%></p>
                    <p><%=place%></p>
                </div>
            
                <div class="dashboardImage" style="background-image: url('/uploads/<%=ID%>.png');">
                </div>
            <div class="dashboardLinks">
                <ul>
                    <li><a href="/dashboard/contact">Contact Info</a></li>
                    <li><a href="/dashboard/Responses">Responses</a></li>
                    <li><a href="/dashboard">Posts</a></li>
                    <li><a href="/request">Request Status</a></li>
                </ul>
            </div>
       </div>
       <div class="dashboardRender">
          
        <div class="postContainer">
             <h1>Your Responses:</h1>
            <div class="posts">
              <%if(posts.length>0){%>
               <%for(var i=0;i<posts.length;i++){%>
                  <div class="subpost responseSubpost">
                       <h3>Response: <%=posts[i].Information%></h3>
                       <p>Email: <%=posts[i].email%></p>
                       <p>Name: <%=posts[i].Name%></p>
                       <p>Phone: <%=posts[i].phone%></p>
                       <button class="acceptButton" onClick="myFunc('<%=posts[i].questionID%>')">Accept</button>
                       <button class="acceptButton" onClick="myFunc2('<%=posts[i].questionID%>+1')">Reject & Delete</button>
                       <div style="display: none;" class="rejectMsg" id="<%=posts[i].questionID%>+1">
                        <form action="/reject/<%=posts[i].userID%>" method="POST">
                            <p>Send any message to <%=posts[i].Name%></p>
                            <input type="text" name="message">
                            <input style="display: none;" type="text" value="<%=posts[i].questionID%>" name="quesID">
                            <button class="proceedButton" type="submit">Proceed</button>
                        </form>
                      </div>
                      <div style="display: none;" class="acceptMsg" id="<%=posts[i].questionID%>">
                            <form action="/accept/<%=posts[i].userID%>" method="POST">
                                <p>Send any message to <%=posts[i].Name%></p>
                                <input type="text" name="message">
                                <input style="display: none;" type="text" value="<%=posts[i].questionID%>" name="quesID">
                                <button class="proceedButton" type="submit">Proceed</button>
                            </form>
                      </div>
                  </div>
                <%}%>
                <%}else{%>
                    <p>No Responses Yet!!</p>
                <%}%>
            </div>
           </div>
         
       </div>
    </div>
    <script>
        function myFunc(ID)
        {
            
            var x=document.getElementById(ID);
            console.log(x)
            if(x.style.display==='none')
            {
                
                x.style.display='block';
               
            }
            else{
                x.style.display='none';
            }
        }
        function myFunc2(ID)
        {
            var x=document.getElementById(ID);
            
            if(x.style.display=='none')
            {
                
                x.style.display='block';
               
            }
            else{
                x.style.display='none';
            }
        }
 </script>
</body>
</html>